// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//colors
$primary-color-light: #e7e0e7;
$primary-color-regular: #e1cbd4;
$primary-color-dark: #c7aeb9;
$primary-color-extradark: #7b7383;
$secondary-color: #a16e6b;
